<!DOCTYPE html>
<html lang="en">
	<head>
  		<meta charset="utf-8">
  		<meta name="description" content="100devs calculator challenge">
  		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>100devs calculator challenge</title>
		<!--fonts-->
		<!--Orbitron-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<!--Roboto Mono-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<!--calculator body-->
		<section>
	
				<!--calculator window-->
				<h1></h1>
				<!--buttons-->
				<menu>
					<li><button id="seven">7</button></li>
					<li><button id="eight">8</button></li>
					<li><button id="nine">9</button></li>
					<li><button id="divide">/</button></li>
					<li><button id="four">4</button></li>
					<li><button id="five">5</button></li>
					<li><button id="six">6</button></li>
					<li><button id="multiply">x</button></li>
					<li><button id="one">1</button></li>
					<li><button id="two">2</button></li>
					<li><button id="three">3</button></li>
					<li><button id="add">+</button></li>
					<li><button id="zero">0</button></li>
					<li><button id="clear">C</button></li>
					<li><button id="equals">=</button></li>
					<li><button id="subtract">-</button></li>
				</menu>
				<button id="fortune">Fortune</button>
		</section>



		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
